{% if article.share_post and article.status != 'draft' %}
<section class="social-share">
  <h4 id="share-header">{{ _('Share on') }}:</h4>
  <ul id="post-share-links" aria-labelledby="share-header" style="list-style: none; padding: 0; display: flex; flex-wrap: wrap; gap: 10px;">
    <li><a href="{{article.share_post['email']}}" title="{{ _('Share via Email') }}">Email</a></li>
    <li><a href="{{article.share_post['diaspora']}}" title="{{ _('Share on Diaspora') }}">Diaspora</a></li>
    <li><a href="{{article.share_post['facebook']}}" title="{{ _('Share on Facebook') }}">Facebook</a></li>
    <li><a href="{{article.share_post['hacker-news']}}" title="{{ _('Share on Hacker News') }}">Hacker News</a></li>
    <li><a href="{{article.share_post['linkedin']}}" title="{{ _('Share on LinkedIn') }}">LinkedIn</a></li>
    <li><a href="{{article.share_post['mastodon']}}" title="{{ _('Share on Mastodon') }}">Mastodon</a></li>
    <li><a href="{{article.share_post['reddit']}}" title="{{ _('Share via Reddit') }}">Reddit</a></li>
    <li><a href="{{article.share_post['twitter']}}" title="{{ _('Share on Twitter') }}">Twitter</a></li>
    <li><a href="{{article.share_post['bluesky']}}" title="{{ _('Share on Bluesky') }}">Bluesky</a></li>
  </ul>
</section>
{% endif %}
