{% if article.prev_article or article.next_article %}
  <nav class="neighbors" aria-label="{{ _('Article navigation') }}">
    {% if article.prev_article %}
      <a class="btn float-left"
         href="{{ SITEURL }}/{{ article.prev_article.url }}"
         title="{{ article.prev_article.title|striptags }}"
         rel="prev"
         aria-label="{{ _('Previous post: %(title)s', title=article.prev_article.title|striptags) }}">
        <i class="fa fa-angle-left" aria-hidden="true"></i> {{ _("Previous Post") }}
      </a>
    {% endif %}
    {% if article.next_article %}
      <a class="btn float-right"
         href="{{ SITEURL }}/{{ article.next_article.url }}"
         title="{{ article.next_article.title|striptags }}"
         rel="next"
         aria-label="{{ _('Next post: %(title)s', title=article.next_article.title|striptags) }}">
        {{ _("Next Post") }} <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    {% endif %}
  </nav>
{% endif %}
