{% if article.share_post %}
<div class="share-post">
  <h2>{{ _('Share this post') }}</h2>
  <ul class="social" role="list">
    <li>
      <a
        class="sc-mastodon"
        href="{{ article.share_post['mastodon'] }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ _('Share on Mastodon') }}"
      >
        <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share on Mastodon') }}</span>
      </a>
    </li>
    <li>
      <a
        class="sc-bluesky"
        href="{{ article.share_post['bluesky'] }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ _('Share on Bluesky') }}"
      >
        <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share on Bluesky') }}</span>
      </a>
    </li>
    <li>
      <a
        class="sc-reddit"
        href="{{ article.share_post['reddit'] }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ _('Share on Reddit') }}"
      >
        <i class="fa-brands fa-reddit" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share on Reddit') }}</span>
      </a>
    </li>
    <li>
      <a
        class="sc-linkedin"
        href="{{ article.share_post['linkedin'] }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ _('Share on LinkedIn') }}"
      >
        <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share on LinkedIn') }}</span>
      </a>
    </li>
    <li>
      <a
        class="sc-facebook"
        href="{{ article.share_post['facebook'] }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ _('Share on Facebook') }}"
      >
        <i class="fa-brands fa-facebook" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share on Facebook') }}</span>
      </a>
    </li>
    <li>
      <a
        class="sc-x-twitter"
        href="{{ article.share_post['twitter'] }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ _('Share on X (Twitter)') }}"
      >
        <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share on X (Twitter)') }}</span>
      </a>
    </li>
    <li>
      <a
        class="sc-hacker-news"
        href="{{ article.share_post['hacker-news'] }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ _('Share on Hacker News') }}"
      >
        <i class="fa-brands fa-hacker-news" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share on Hacker News') }}</span>
      </a>
    </li>
    <li>
      <a
        class="sc-diaspora"
        href="{{ article.share_post['diaspora'] }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ _('Share on Diaspora') }}"
      >
        <i class="fa-brands fa-diaspora" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share on Diaspora') }}</span>
      </a>
    </li>
    <li>
      <a
        class="sc-envelope"
        href="{{ article.share_post['email'] }}"
        aria-label="{{ _('Share via email') }}"
      >
        <i class="fa-solid fa-envelope" aria-hidden="true"></i>
        <span class="sr-only">{{ _('Share via email') }}</span>
      </a>
    </li>
  </ul>
</div>
{% endif %}
